<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DF57Z4F4VZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DF57Z4F4VZ');
  </script>
  <title>漢検練習帳 | クイズで漢検！</title>

  <!-- faviconの設定 -->
  <%= favicon_link_tag('favicon.ico') %>

  <!-- Twitterカードの設定 -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@kei16180339"/>
  <meta name="twitter:title" content="漢検練習帳"/>
  <meta name="twitter:description" content="クイズで漢検準1伋/1級の学習をしよう！"/>
  <meta name="twitter:image" content="https://kanken-practice-b5ve7zdnrq-an.a.run.app//app/assets/images/twittercard.png"/>


  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_javascript_tag 'main.tsx' %>

</head>

<body>
<%= yield %>
</body>
</html>
