<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
<head>
  <title>漢検練習帳</title>
  <%= favicon_link_tag('favicon.ico') %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_javascript_tag 'main.tsx' %>

</head>

<body>
<%= yield %>
</body>
</html>
