<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DF57Z4F4VZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DF57Z4F4VZ');
  </script>

   <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_javascript_tag 'main.tsx' %>
  <%= display_meta_tags(default_meta_tags) %>

</head>

<body>
<%= yield %>
</body>
</html>
